body {
    color: black;
    background: darkolivegreen;
    margin: 0px;
    font-family: "Comic Neue", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(25, 255, 4);
    padding: 20px;
    font-size: 32px;
    color: rgb(25, 255, 4);
}

section {
    background: rgb(142, 228, 163);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
  }

p {
    font-size: 20px;
}

img {
    height: 200px;
  }

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
  }

.chamada {
    background: rgb(72, 189, 78);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

.categoria h2 {
    color: rgb(42, 122, 228);
}
 
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}